{% extends "layouts/base.html.twig" %}

{% block title %}{{ trans('error.404_title') }} — Minoo{% endblock %}

{% block content %}
  <div class="flow-lg">
    <h1>{{ trans('error.404_title') }}</h1>
    <p>{{ trans('error.404_message') }}</p>
    <p><a href="{{ lang_url('/') }}">{{ trans('error.404_home') }}</a></p>
  </div>
{% endblock %}
