{% extends "base.html.twig" %}

{% block title %}{{ trans('data.title') }}{% endblock %}

{% block content %}
  <div class="content-section flow-lg">
    <div>
      <h1>{{ trans('data.title') }}</h1>
      <p class="text-secondary">{{ trans('data.subtitle') }}</p>
    </div>

    <section class="flow">
      <h2>{{ trans('data.what_heading') }}</h2>
      <p>{{ trans('data.what_intro') }}</p>
      <ul class="how-it-works__list">
        <li>{{ trans('data.what_list_1') }}</li>
        <li>{{ trans('data.what_list_2') }}</li>
        <li>{{ trans('data.what_list_3') }}</li>
        <li>{{ trans('data.what_list_4') }}</li>
        <li>{{ trans('data.what_list_5') }}</li>
        <li>{{ trans('data.what_list_6') }}</li>
      </ul>
    </section>

    <section class="flow">
      <h2>{{ trans('data.never_heading') }}</h2>
      <p>{{ trans('data.never_intro') }}</p>
      <ul class="how-it-works__list">
        <li>{{ trans('data.never_list_1') }}</li>
        <li>{{ trans('data.never_list_2') }}</li>
        <li>{{ trans('data.never_list_3') }}</li>
        <li>{{ trans('data.never_list_4') }}</li>
        <li>{{ trans('data.never_list_5') }}</li>
      </ul>
    </section>

    <section class="flow">
      <h2>{{ trans('data.consent_heading') }}</h2>
      <p>{{ trans('data.consent_intro') }}</p>
      <ul class="how-it-works__list">
        <li>{{ trans('data.consent_list_1') }}</li>
        <li>{{ trans('data.consent_list_2') }}</li>
      </ul>
      <p>{{ trans('data.consent_note') }}</p>
    </section>

    <section class="flow">
      <h2>{{ trans('data.who_heading') }}</h2>
      <p>{{ trans('data.who_desc1') }}</p>
      <p>{{ trans('data.who_desc2') }}</p>
      <p>{{ trans('data.who_desc3') }}</p>
    </section>

    <section class="flow">
      <h2>{{ trans('data.learning_heading') }}</h2>
      <p>{{ trans('data.learning_desc1') }}</p>
      <p>{{ trans('data.learning_desc2') }}</p>
      <p>{{ trans('data.learning_desc3') }}</p>
      <p>{{ trans('data.learning_desc4') }}</p>
    </section>

    <section class="flow">
      <h2>{{ trans('data.questions_heading') }}</h2>
      <p>{{ trans('data.questions_desc1') }}</p>
      <p>{{ trans('data.questions_desc2') }}</p>
      <p>{{ trans('data.questions_desc3') }}</p>
    </section>
  </div>
{% endblock %}
