<article class="card">
  <h3 class="card__title">{{ word }}</h3>
  {% if part_of_speech is defined and part_of_speech %}
    <p class="card__meta">{{ part_of_speech }}</p>
  {% endif %}
  {% if definition is defined and definition %}
    <p class="card__body">{{ definition }}</p>
  {% endif %}
  {% if example is defined and example %}
    <p class="card__body"><em>{{ example }}</em></p>
  {% endif %}
  {% if tags is defined and tags %}
    <div>
      {% for tag in tags %}
        <span class="card__tag">{{ tag }}</span>
      {% endfor %}
    </div>
  {% endif %}
</article>
