<article class="card card--event">
  <span class="card__badge card__badge--event">{{ type }}</span>
  <h3 class="card__title"><a href="{{ url }}">{{ title }}</a></h3>
  <p class="card__date">{{ date }}</p>
  {% if location is defined and location %}
    <p class="card__meta">{{ location }}</p>
  {% endif %}
  {% if excerpt is defined and excerpt %}
    <p class="card__body">{{ excerpt }}</p>
  {% endif %}
</article>
