<article class="homepage-card homepage-card--{{ type }}">
  <span class="homepage-badge">{{ type_label }}</span>
  <h3 class="homepage-title"><a href="{{ url }}">{{ title }}</a></h3>
  {% if date is defined and date is not empty %}
    <p class="homepage-date">{{ date }}</p>
  {% endif %}
  {% if community_name is defined and community_name is not empty %}
    <p class="homepage-community">{{ community_name }}</p>
  {% endif %}
  {% if meta is defined and meta is not empty %}
    <p class="homepage-meta">{{ meta }}</p>
  {% endif %}
</article>
