<article class="homepage-card homepage-card--{{ type }}">
  <span class="homepage-badge">{{ type_label }}</span>
  <h3 class="homepage-title"><a href="{{ url }}">{{ title }}</a></h3>
  <p class="homepage-meta">{{ meta }}</p>
</article>
